<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>accountServlet</servlet-name>
        <servlet-class>com.src.servlets.accountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticketServelt</servlet-name>
        <servlet-class>com.src.servlets.ticketServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eloadServlet</servlet-name>
        <servlet-class>com.src.servlets.eloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticketServlet</servlet-name>
        <servlet-class>com.src.servlets.ticketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e_loadServlet</servlet-name>
        <servlet-class>com.src.servlets.e_loadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lockerServlet</servlet-name>
        <servlet-class>com.src.servlets.lockerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.src.servlets.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>photoServlet</servlet-name>
        <servlet-class>com.src.servlets.photoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bulletinServlet</servlet-name>
        <servlet-class>com.src.servlets.bulletinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>foodServlet</servlet-name>
        <servlet-class>com.src.servlets.foodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>com.src.servlets.checkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.src.servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchasePhoto</servlet-name>
        <servlet-class>com.src.servlets.purchasePhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchase_photoServlet</servlet-name>
        <servlet-class>com.src.servlets.purchase_photoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salesServlet</servlet-name>
        <servlet-class>com.src.servlets.CheckBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.src.servlets.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountServlet</servlet-name>
        <url-pattern>/accountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticketServelt</servlet-name>
        <url-pattern>/ticketServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eloadServlet</servlet-name>
        <url-pattern>/eloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticketServlet</servlet-name>
        <url-pattern>/ticketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e_loadServlet</servlet-name>
        <url-pattern>/e_loadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lockerServlet</servlet-name>
        <url-pattern>/lockerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photoServlet</servlet-name>
        <url-pattern>/photoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bulletinServlet</servlet-name>
        <url-pattern>/bulletinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>foodServlet</servlet-name>
        <url-pattern>/foodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchasePhoto</servlet-name>
        <url-pattern>/purchasePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchase_photoServlet</servlet-name>
        <url-pattern>/purchase_photoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>salesServlet</servlet-name>
        <url-pattern>/salesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>AdminRole</role-name>
    </security-role>
</web-app>
